--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id uuid NOT NULL,
    user_id uuid,
    name character varying(255) NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    description text,
    color character varying(7) NOT NULL,
    icon character varying(255) DEFAULT NULL::character varying,
    type character varying(255) NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: COLUMN categories.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.categories.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN categories.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.categories.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: doctrine_migration_versions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.doctrine_migration_versions (
    version character varying(191) NOT NULL,
    executed_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    execution_time integer
);


ALTER TABLE public.doctrine_migration_versions OWNER TO postgres;

--
-- Name: member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.member (
    id integer NOT NULL,
    name character varying(100),
    email character varying(150),
    password character varying(255)
);


ALTER TABLE public.member OWNER TO postgres;

--
-- Name: member_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.member_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_id_seq OWNER TO postgres;

--
-- Name: member_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.member_id_seq OWNED BY public.member.id;


--
-- Name: members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.members (
    id uuid NOT NULL,
    space_id uuid NOT NULL,
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    relationship character varying(255) DEFAULT NULL::character varying,
    date_of_birth date,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.members OWNER TO postgres;

--
-- Name: COLUMN members.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.members.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN members.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.members.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: notification_targets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification_targets (
    id uuid NOT NULL,
    notification_id uuid NOT NULL,
    user_id uuid NOT NULL,
    read_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    is_important boolean DEFAULT false NOT NULL
);


ALTER TABLE public.notification_targets OWNER TO postgres;

--
-- Name: COLUMN notification_targets.read_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notification_targets.read_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN notification_targets.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notification_targets.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN notification_targets.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notification_targets.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    sender_id uuid,
    space_id uuid,
    receiver_id uuid NOT NULL,
    notification_type character varying(255) NOT NULL,
    message text NOT NULL,
    sent_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: COLUMN notifications.sent_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notifications.sent_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN notifications.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notifications.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN notifications.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notifications.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id uuid NOT NULL,
    subscription_id uuid NOT NULL,
    amount double precision NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying NOT NULL,
    payment_method character varying(255) NOT NULL,
    status character varying(255) DEFAULT 'pending'::character varying NOT NULL,
    transaction_id character varying(255) DEFAULT NULL::character varying,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: COLUMN payments.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.payments.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN payments.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.payments.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    space_id uuid,
    permission_type character varying(255) NOT NULL,
    assigned_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: COLUMN permissions.assigned_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.permissions.assigned_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN permissions.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.permissions.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.services (
    id uuid NOT NULL,
    category_id uuid,
    name character varying(255) NOT NULL,
    description text NOT NULL,
    provider character varying(255) DEFAULT NULL::character varying,
    logo character varying(255) NOT NULL,
    website character varying(255) DEFAULT NULL::character varying,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    currency character varying(3) DEFAULT 'EUR'::character varying NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.services OWNER TO postgres;

--
-- Name: COLUMN services.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.services.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN services.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.services.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: spaces; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.spaces (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    logo character varying(255) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    visibility character varying(20) DEFAULT 'private'::character varying NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    created_by_id uuid NOT NULL
);


ALTER TABLE public.spaces OWNER TO postgres;

--
-- Name: COLUMN spaces.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.spaces.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN spaces.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.spaces.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: subscription_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscription_tags (
    id uuid NOT NULL,
    subscription_id uuid NOT NULL,
    tag_id uuid NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    read_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL
);


ALTER TABLE public.subscription_tags OWNER TO postgres;

--
-- Name: COLUMN subscription_tags.read_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subscription_tags.read_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN subscription_tags.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subscription_tags.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN subscription_tags.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subscription_tags.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions (
    id uuid NOT NULL,
    member_id uuid NOT NULL,
    service_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    notes text,
    subscription_type character varying(255) NOT NULL,
    start_date date NOT NULL,
    end_date date,
    amount double precision DEFAULT NULL::numeric,
    currency character varying(3) DEFAULT 'EUR'::character varying NOT NULL,
    total_paid double precision DEFAULT NULL::numeric,
    auto_renewal boolean,
    billing_mode character varying(255) NOT NULL,
    billing_frequency character varying(255) DEFAULT NULL::character varying,
    billing_day date,
    status character varying(255) DEFAULT 'active'::character varying NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO postgres;

--
-- Name: COLUMN subscriptions.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subscriptions.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN subscriptions.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subscriptions.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tags (
    id uuid NOT NULL,
    user_id uuid,
    name character varying(255) NOT NULL,
    description text,
    color character varying(7) DEFAULT NULL::character varying,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.tags OWNER TO postgres;

--
-- Name: COLUMN tags.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tags.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN tags.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.tags.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    lastname character varying(255) NOT NULL,
    firstname character varying(255) NOT NULL,
    avatar character varying(255) DEFAULT NULL::character varying,
    username character varying(255) DEFAULT NULL::character varying,
    email character varying(255) NOT NULL,
    age integer,
    phone_number character varying(50) DEFAULT NULL::character varying,
    password text NOT NULL,
    is_active boolean DEFAULT false NOT NULL,
    last_login timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    created_at timestamp(0) without time zone NOT NULL,
    updated_at timestamp(0) without time zone NOT NULL,
    roles json NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: COLUMN users.last_login; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.last_login IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN users.created_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN users.updated_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.updated_at IS '(DC2Type:datetime_immutable)';


--
-- Name: member id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member ALTER COLUMN id SET DEFAULT nextval('public.member_id_seq'::regclass);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: doctrine_migration_versions doctrine_migration_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.doctrine_migration_versions
    ADD CONSTRAINT doctrine_migration_versions_pkey PRIMARY KEY (version);


--
-- Name: member member_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_email_key UNIQUE (email);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (id);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: notification_targets notification_targets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_targets
    ADD CONSTRAINT notification_targets_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: spaces spaces_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spaces
    ADD CONSTRAINT spaces_pkey PRIMARY KEY (id);


--
-- Name: subscription_tags subscription_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription_tags
    ADD CONSTRAINT subscription_tags_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_2dedcc6f23575340; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_2dedcc6f23575340 ON public.permissions USING btree (space_id);


--
-- Name: idx_2dedcc6fa76ed395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_2dedcc6fa76ed395 ON public.permissions USING btree (user_id);


--
-- Name: idx_3af34668a76ed395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_3af34668a76ed395 ON public.categories USING btree (user_id);


--
-- Name: idx_45a0d2ff23575340; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_45a0d2ff23575340 ON public.members USING btree (space_id);


--
-- Name: idx_45a0d2ffa76ed395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_45a0d2ffa76ed395 ON public.members USING btree (user_id);


--
-- Name: idx_4778a017597d3fe; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_4778a017597d3fe ON public.subscriptions USING btree (member_id);


--
-- Name: idx_4778a01a76ed395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_4778a01a76ed395 ON public.subscriptions USING btree (user_id);


--
-- Name: idx_4778a01ed5ca9e6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_4778a01ed5ca9e6 ON public.subscriptions USING btree (service_id);


--
-- Name: idx_588084389a1887dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_588084389a1887dc ON public.subscription_tags USING btree (subscription_id);


--
-- Name: idx_58808438bad26311; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_58808438bad26311 ON public.subscription_tags USING btree (tag_id);


--
-- Name: idx_6000b0d323575340; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_6000b0d323575340 ON public.notifications USING btree (space_id);


--
-- Name: idx_6000b0d3cd53edb6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_6000b0d3cd53edb6 ON public.notifications USING btree (receiver_id);


--
-- Name: idx_6000b0d3f624b39d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_6000b0d3f624b39d ON public.notifications USING btree (sender_id);


--
-- Name: idx_65d29b329a1887dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_65d29b329a1887dc ON public.payments USING btree (subscription_id);


--
-- Name: idx_6fbc9426a76ed395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_6fbc9426a76ed395 ON public.tags USING btree (user_id);


--
-- Name: idx_7332e16912469de2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_7332e16912469de2 ON public.services USING btree (category_id);


--
-- Name: idx_ba5d94a4a76ed395; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ba5d94a4a76ed395 ON public.notification_targets USING btree (user_id);


--
-- Name: idx_ba5d94a4ef1a9d84; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ba5d94a4ef1a9d84 ON public.notification_targets USING btree (notification_id);


--
-- Name: idx_dd2b6478b03a8386; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dd2b6478b03a8386 ON public.spaces USING btree (created_by_id);


--
-- Name: uniq_1483a5e9e7927c74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uniq_1483a5e9e7927c74 ON public.users USING btree (email);


--
-- Name: permissions fk_2dedcc6f23575340; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT fk_2dedcc6f23575340 FOREIGN KEY (space_id) REFERENCES public.spaces(id) ON DELETE SET NULL;


--
-- Name: permissions fk_2dedcc6fa76ed395; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT fk_2dedcc6fa76ed395 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: categories fk_3af34668a76ed395; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT fk_3af34668a76ed395 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: members fk_45a0d2ff23575340; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT fk_45a0d2ff23575340 FOREIGN KEY (space_id) REFERENCES public.spaces(id) ON DELETE CASCADE;


--
-- Name: members fk_45a0d2ffa76ed395; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT fk_45a0d2ffa76ed395 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: subscriptions fk_4778a017597d3fe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT fk_4778a017597d3fe FOREIGN KEY (member_id) REFERENCES public.members(id) ON DELETE CASCADE;


--
-- Name: subscriptions fk_4778a01a76ed395; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT fk_4778a01a76ed395 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: subscriptions fk_4778a01ed5ca9e6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT fk_4778a01ed5ca9e6 FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE CASCADE;


--
-- Name: subscription_tags fk_588084389a1887dc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription_tags
    ADD CONSTRAINT fk_588084389a1887dc FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON DELETE CASCADE;


--
-- Name: subscription_tags fk_58808438bad26311; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscription_tags
    ADD CONSTRAINT fk_58808438bad26311 FOREIGN KEY (tag_id) REFERENCES public.tags(id) ON DELETE CASCADE;


--
-- Name: notifications fk_6000b0d323575340; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_6000b0d323575340 FOREIGN KEY (space_id) REFERENCES public.spaces(id) ON DELETE SET NULL;


--
-- Name: notifications fk_6000b0d3cd53edb6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_6000b0d3cd53edb6 FOREIGN KEY (receiver_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications fk_6000b0d3f624b39d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk_6000b0d3f624b39d FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: payments fk_65d29b329a1887dc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT fk_65d29b329a1887dc FOREIGN KEY (subscription_id) REFERENCES public.subscriptions(id) ON DELETE CASCADE;


--
-- Name: tags fk_6fbc9426a76ed395; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT fk_6fbc9426a76ed395 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: services fk_7332e16912469de2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT fk_7332e16912469de2 FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: notification_targets fk_ba5d94a4a76ed395; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_targets
    ADD CONSTRAINT fk_ba5d94a4a76ed395 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notification_targets fk_ba5d94a4ef1a9d84; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_targets
    ADD CONSTRAINT fk_ba5d94a4ef1a9d84 FOREIGN KEY (notification_id) REFERENCES public.notifications(id) ON DELETE CASCADE;


--
-- Name: spaces fk_dd2b6478b03a8386; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.spaces
    ADD CONSTRAINT fk_dd2b6478b03a8386 FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

